/* Styles go here */
.button-row {
  width: 125px;
  height: 15px;
  margin-bottom: 0px;
  margin-left: 200px;
}

.walletlink {
  text-align: center;
  margin: 0;
  padding:  0;
  display: inline-block;
}

